# NVIDIA Stock. VS TESLA STOCK.

In [19]:
import json
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# PREGUNTAS DE INTERES
 
PREGUNTAS PRINCIPALES
¿Qué tan fuertemente correlacionados están los precios de cierre de las acciones de NVIDIA y Tesla?

 ¿Cómo se compara la volatilidad de los precios de las acciones de NVIDIA con los de Tesla?

¿Cómo han reaccionado los precios de cierre de NVIDIA y TESLA ante eventos económicos significativos?

PREGUNTAS SECUNDARIAS

¿Cuál ha sido la tendencia general del precio de cierre de las acciones INDIVIDUALES en los últimos cinco años?

¿Cómo afecta el volumen de negociación diario a los precios de cierre de las acciones?

In [20]:
#Lectura de datasets
df_nvidia = pd.read_csv('nvidia.csv')
df_tesla = pd.read_csv('tesla.csv')

In [21]:

df_nvidia.sum()

Unnamed: 0                                              2804896
date          2015-01-022015-01-052015-01-062015-01-072015-0...
open                                               33612.501987
high                                               34222.352034
low                                                32975.368506
close                                              33634.773737
adjclose                                           33566.934425
volume                                            1134165002000
dtype: object

In [22]:
df_nvidia['volume'].mean()

478752639.08822286

# ANALISIS EXPLORATORIO

ANALISIS METADATA 
 * INTENTAMOS DAR A CONOCER INFORMACION BASICA DE LOS DATOS PROMEDIO DE VOLUMEN PRECIO MAXIMO , TIEMPO QUE RECUBRE EL DATASET Y CANTIDAD DE REGISTROS

In [24]:
# VOLUMEN PROMEDIO DE ACCIONES CON SU TOTAL DE VALOR NEGOCIADO A LO LARGO DE LOS ULTIMOS 5 AÑOS 


# NVIDIA

df_nvidia

,Unnamed: 0,date,open,high,low,close,adjclose,volume
2364,2364,2024-05-24,104.448997,106.474998,103.000000,106.469002,106.460258,429494000
2365,2365,2024-05-28,110.244003,114.939003,109.883003,113.901001,113.891647,652728000
2366,2366,2024-05-29,113.050003,115.491997,110.901001,114.824997,114.815567,557442000
2367,2367,2024-05-30,114.650002,115.819000,109.663002,110.500000,110.490921,487350000
2368,2368,2024-05-31,112.519997,112.717003,106.940002,109.633003,109.624001,613263000